{% extends 'Pages/layout.html' %}
{% block title %}
    Du lich
{% endblock %}
{% block contents %}
    {% load static %}
    {% load admin_urls %}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-0 bread">Bài viết</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row">
                <div class=" ftco-animate py-md-5 mt-md-5">
                    <h2 class="mb-3">{{ blog.name }}</h2>
                    <p>{{ blog.description }}</p>
                    <p>
                        <img src="{{ blog.firstImage.url }}" alt="" class="img-fluid w- 75">
                    </p>
                    <p>{{ blog.description1 }}</p>
                    <h2 class="mb-3 mt-5">#2. Thông tin thêm</h2>
                    <p>
                        <img src="{{ blog.secondImage.url }}" alt="" class="img-fluid w-75">
                    </p>
                    <p>{{ blog.description2 }}</p>
                    <p>
                        <img src="{{ blog.thirdImage.url }}" alt="" class="img-fluid w-75">
                    </p>

                    <div class="pt-5 mt-5">
                        {% if not blog.comments.all %}
                            <h3 class="mb-5" style="font-size: 20px; font-weight: bold;">0 Comments</h3>
                        {% else %}
                            {% for cmt in blog.comments.all %}
                                <ul class="comment-list">
                                    <li class="comment">
                                        <div class="vcard bio">
                                            <img src="{% static "images/profiles/avatar.jpg" %}" class="w-100"
                                                 alt="Image placeholder">
                                        </div>
                                        <div class="comment-body">
                                            <div class="row">
                                                <h3 class="col">{{ cmt.user_comment }}</h3>
                                                <div class="dropdown col">
                                                    <button class="btn dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="">Sửa</a>
                                                        <a class="dropdown-item" href="#">Xóa</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="meta">{{ cmt.date_comment.day }} - {{ cmt.date_comment.month }}
                                                - {{ cmt.date_comment.year }}
                                                at {{ cmt.date_comment.hour }}:{{ cmt.date_comment.minute }}</div>
                                            <p>{{ cmt.body_comment }}</p>
                                        </div>
                                    </li>
                                </ul>
                            {% endfor %}
                        {% endif %}
                        <!-- END comment-list -->
                        {% if not request.user.is_authenticated %}
                            <h4>Nút đăng nhập <a href="{% url "login_view" %}">ở đây</a> ,hãy đăng nhập để comment</h4>
                        {% else %}
                            <div class="comment-form-wrap pt-5">
                                <h3 class="mb-5" style="font-size: 20px; font-weight: bold;">Leave a comment</h3>
                                <form action="{% url 'add_Comment' blog.id user.id %}" class="p-5 bg-light"
                                      method="post">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea name="body_comment" id="message" cols="30" rows="10"
                                                  class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- .section -->
    {% block js %}
        <script>

        </script>
    {% endblock %}
{% endblock %}

