{% extends 'Pages/layout.html' %}
{% block title %}
    Chỉnh sửa email
{% endblock %}
{% block contents %}
    {% load static %}

    <section class="hero-wrap hero-wrap-2 js-fullheight"
             style="background-image: url('{% static 'images/bg_1.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-0 bread">Chỉnh sửa Password</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-no-pb">
        <div class="container" style="margin-bottom: 400px">
            <form method="post" action="{% url 'edit_password'  user.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Mật khẩu mới</label>
                    <input type="password" name="password" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </form>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Quên mật khẩu ?</button>
                <button class="btn btn-primary" onclick="history.back()"> Quay lại</button>
            </div>
        </div>
    </section>
{% endblock %}